In [2]:
# Lendo a tabela de dados sobre Commodities da bolsa de Chicago
import pandas as pd

# Lendo a tabela de dados sobre Commodities da bolsa de Chicago
df = pd.read_excel('C:\\Users\\vitor\\OneDrive\Documentos\\AREAS\\TI\Análise de dados\\Professor Leucivaldo\\Dados Pesquisa COMPLETA.xlsx')

In [3]:
display(df)

,Data,Salário mínimo vigente - R$,"IPCA - geral - índice (dez, 1993 = 100) Mensal",Câmbio,PIB - US$ (bilhões),SELIC Mensal,Data,Soja,Arroz,Milho,Trigo Paraná
0,NaN,"64,79","6,84","0,9333",40788,"6,87",2014.01,"72,29","36,61","26,83","764,48"
1,NaN,"64,79","1,86","0,8986","43873,4","4,17",2014.02,"69,71","35,65","30,62","764,49"
2,NaN,70,"1,53","0,8652","43836,2","3,83",2014.03,"72,27","33,83","32,84","795,35"
3,NaN,70,"2,62","0,846","45234,9","3,62",2014.04,"71,11","35,02","31,18","836,27"
4,NaN,70,"2,81","0,8418","45926,2","4,07",2014.05,"70,74","36,37","28,75","821,07"
...,...,...,...,...,...,...,...,...,...,...,...
356,NaN,1412,"0,16","4,979535","952670,3","0,83",NaN,NaN,NaN,NaN,NaN
357,NaN,1412,"0,38","5,12848636363636","976511,9","0,89",NaN,NaN,NaN,NaN,NaN
358,NaN,1412,"0,46","5,13244761904762",953614,"0,83",NaN,NaN,NaN,NaN,NaN
359,NaN,1412,"0,21","5,388375","949831,7","0,79",NaN,NaN,NaN,NaN,NaN
360,NaN,1412,NaN,NaN,NaN,"0,87",NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd

# Lendo o arquivo
df = pd.read_excel(r"C:\Users\70089478100\OneDrive\Documentos\AREAS\TI\Análise de dados\Professor Leucivaldo\Dados Pesquisa COMPLETA.xlsx")

# Vamos ver as primeiras linhas da coluna específica
print("Primeiras linhas da coluna:")
print(df['Salário mínimo vigente - R$'].head())

# Verificar o tipo de dados atual
print("\nTipo de dados da coluna:")
print(df['Salário mínimo vigente - R$'].dtype)

# Agora vamos fazer a conversão
def convert_br_number(value):
    try:
        if isinstance(value, str):
            # Remove espaços e substitui vírgula por ponto
            value = value.strip().replace(',', '.')
            return float(value)
        elif isinstance(value, (int, float)):
            return float(value)
        else:
            return None
    except:
        print(f"Erro ao converter o valor: {value}")
        return None

# Aplicando a conversão
df['Salário mínimo vigente - R$'] = df['Salário mínimo vigente - R$'].apply(convert_br_number)

# Verificando o resultado
print("\nDepois da conversão - primeiras linhas:")
print(df['Salário mínimo vigente - R$'].head())

# Verificando se há valores não convertidos (None)
nulos = df['Salário mínimo vigente - R$'].isnull().sum()
print(f"\nQuantidade de valores não convertidos: {nulos}")

# Verificando o novo tipo de dados
print("\nNovo tipo de dados da coluna:")
print(df['Salário mínimo vigente - R$'].dtype)

In [ ]:
import pandas as pd

# Lendo o arquivo
df = pd.read_excel('C:\\Users\\70089478100\\OneDrive\Documentos\\AREAS\\TI\Análise de dados\\Professor Leucivaldo\\Dados Pesquisa COMPLETA.xlsx')

# Converter a coluna de data
def convert_date(value):
    try:
        if isinstance(value, str):
            # Separar ano e mês
            year, month = value.split('.')
            # Criar data no formato americano (YYYY-MM-DD)
            # Como os dias não são relevantes, usamos dia 01
            return f"{year}-{month.zfill(2)}-01"
        return value
    except:
        print(f"Erro ao converter a data: {value}")
        return None

# Aplicar a conversão
df['Data'] = df['Data'].apply(convert_date)

# Converter para datetime
df['Data'] = pd.to_datetime(df['Data'])

# Se você quiser apenas ano e mês no resultado final
df['Data'] = df['Data'].dt.to_period('M')

# Verificar o resultado
print("\nPrimeiras linhas após conversão:")
print(df['Data'].head())

# Salvar o arquivo
df.to_excel(r'C:\\Users\\70089478100\\OneDrive\Documentos\\AREAS\\TI\Análise de dados\\Professor Leucivaldo\\Dados Pesquisa COMPLETA.xlsx', 
            index=False)

In [ ]:
# Se você preferir manter apenas como string no formato YYYY-MM
def convert_date_simple(value):
    try:
        if isinstance(value, str):
            year, month = value.split('.')
            return f"{year}-{month.zfill(2)}"
        return value
    except:
        print(f"Erro ao converter a data: {value}")
        return None

df['Data'] = df['Data'].apply(convert_date_simple)

In [ ]:
import pandas as pd
import os

# Lendo o arquivo
df = pd.read_excel(r"C:\\Users\\70089478100\\OneDrive\Documentos\\AREAS\\TI\Análise de dados\\Professor Leucivaldo\\Dados Pesquisa COMPLETA.xlsx")

# Converter para timestamp
def convert_to_timestamp(value):
    try:
        if isinstance(value, str):
            # Separar ano e mês
            year, month = value.split('.')
            # Criar timestamp (usando primeiro dia do mês)
            return pd.Timestamp(f"{year}-{month.zfill(2)}-01")
        return value
    except:
        print(f"Erro ao converter a data: {value}")
        return None

# Aplicar a conversão
df['Data'] = df['Data'].apply(convert_to_timestamp)

# Verificar o tipo de dados
print("Tipo de dados da coluna Data:")
print(df['Data'].dtype)

# Verificar as primeiras linhas
print("\nPrimeiras linhas após conversão:")
print(df['Data'].head())

# Verificar se há valores não convertidos
nulos = df['Data'].isnull().sum()
print(f"\nQuantidade de valores não convertidos: {nulos}")

# Verificar se o diretório existe e criar se não existir
output_dir = r"C:\Users\vitor\OneDrive\Documentos\AREAS\TI\Análise de dados\Professor Leucivaldo"
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Salvar o arquivo
df.to_excel(os.path.join(output_dir, "Dados Pesquisa COMPLETA_convert.xlsx"), index=False)

In [ ]:
import pandas as pd

# Lendo o arquivo
df = pd.read_excel(r"C:\Users\vitor\OneDrive\Documentos\AREAS\TI\Análise de dados\Professor Leucivaldo\Dados Pesquisa COMPLETA.xlsx")

# Renomear as colunas de data para maior clareza
# Verifique se as colunas existem antes de renomear
if 'Data' in df.columns and 'Data.1' in df.columns:
    df = df.rename(columns={
        'Data': 'Data_Inicial',
        'Data.1': 'Data_Commodities'
    })
else:
    print("As colunas 'Data' e/ou 'Data.1' não existem no dataframe.")

# Função para converter números com vírgula para float
def convert_br_number(value):
    try:
        if isinstance(value, str):
            return float(value.replace(',', '.'))
        return float(value) if pd.notna(value) else None
    except:
        return None

# Função para converter datas
def convert_to_timestamp(value):
    try:
        if isinstance(value, str):
            year, month = value.split('.')
            return pd.Timestamp(f"{year}-{month.zfill(2)}-01")
        return value
    except:
        return None

# Verifique se as colunas 'Data_Inicial' e 'Data_Commodities' existem antes de aplicar a conversão
if 'Data_Inicial' in df.columns:
    df['Data_Inicial'] = df['Data_Inicial'].apply(convert_to_timestamp)
else:
    print("A coluna 'Data_Inicial' não existe no dataframe.")

if 'Data_Commodities' in df.columns:
    df['Data_Commodities'] = df['Data_Commodities'].apply(convert_to_timestamp)
else:
    print("A coluna 'Data_Commodities' não existe no dataframe.")

# Converter colunas numéricas
colunas_numericas = [
    'Salário mínimo vigente - R$',
    'IPCA - geral - índice (dez, 1993 = 100) Mensal',
    'Câmbio',
    'PIB - US$ (bilhões)',
    'SELIC Mensal',
    'Soja',
    'Arroz',
    'Milho',
    'Trigo Paraná'
]

for coluna in colunas_numericas:
    if coluna in df.columns:
        df[coluna] = df[coluna].apply(convert_br_number)
    else:
        print(f"A coluna '{coluna}' não existe no dataframe.")

# Verificar os tipos de dados resultantes
print("\nTipos de dados após conversão:")
print(df.dtypes)

# Verificar algumas linhas para confirmar a conversão
print("\nPrimeiras linhas após conversão:")
print(df.head())

# Verificar se há valores não convertidos em cada coluna
print("\nQuantidade de valores nulos por coluna:")
print(df.isnull().sum())

# Salvar o arquivo convertido
df.to_excel(r"C:\Users\vitor\OneDrive\Documentos\AREAS\TI\Análise de dados\Professor Leucivaldo\Dados Pesquisa COMPLETA_convertido.xlsx", 
            index=False)

In [ ]:
display(df)

In [5]:
from ydata_profiling import ProfileReport

C:\Users\70089478100\AppData\Roaming\Python\Python312\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
profile = ProfileReport(df)

In [7]:
profile.to_file("meurelatorio.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 25/25 [00:01<00:00, 13.05it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.80s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.77it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 86.51it/s]